@use 'variables' as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$bg-main;
  color: v.$text-white;
  font-family: v.$font-cuerpo;
  padding-top: 76px;
}