*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ranchers", cursive, sans-serif;
}

body {
    background-color: #111821;
    color: #ffffff; 
    padding-top: 76px; /* Espacio obligatorio para header fijo */
}